<!DOCTYPE html>
<html lang="zh-Hans-TW">
<head>
  <title>17特訓99</title>
  <meta charset="utf-8" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  
  <div>
    <ul id="chatroom"></ul>
    <form>
      <input type="text" id="chat-input" class="hidden"><button id="chat-btn" class="hidden">Send</button>
    </form>
  </div>
  
  <canvas id="game-canvas"></canvas>
  <div id="play-menu" class="hidden">
    <div id="play-menu-item">
      <input type="text" id="playerName-input" placeholder="Enter Your Name" />
      <button id="play-button">加入特訓</button>
    </div>
  </div>
  <div>MY SCORES: <span id="my-scores">0</span></div>
  <button id="temp">聊天</button>

  <script src="/javascripts/globalSetting.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/ballSetting.js"></script>
  <script src="/javascripts/playerInfo.js"></script>
  <script src="/javascripts/gameplay.js"></script>
  <script src="/javascripts/chatroom.js"></script>
  
</body>
</html>