* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
}

#game-canvas {
    background-color: #111; margin: 0;
}

#play-menu {
    width: 1000px; height: 600px; position: absolute; top: 0; left: 0;
    z-index: 50; background-color: rgba(100, 100, 100, 0.4);
}

#play-menu-item {
    position: relative; top:250px; left: 370px; 
}

.hidden {
    display: none;
}

#chatroom {
    width: 350px; height:200px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: absolute; top: 630px; left: 15px; z-index: 10;
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
}

#chat-input {
    width: 350px; outline: none;
    position: absolute; top:840px; left: 15px; z-index: 20;
    color-scheme: dark;
}

#chat-btn {
    position: absolute; top:570px; left: 1210px; z-index: 20;
}