* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
}

#game-canvas {
    background-color: #111; margin: 0;
}

#play-menu {
    width: 1000px; height: 600px; position: absolute; top: 0; left: 0;
    z-index: 50; background-color: rgba(100, 100, 100, 0.15);
}

#play-menu-item {
    position: relative; top:250px; left: 370px; 
}

#userName-input {
    outline: none; width: 200px; height: 30px;
}

#play-button, #talk-button {
    width: 100px; height: 30px;
}

.hidden {
    display: none;
}

#my-scores-title {
    position: absolute; top: 5px; left: 5px; color: white; font-size: 20px;
}

#chat-window {
    width: 350px; height:200px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute; top: 370px; left: 10px; z-index: 10;
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
}

#chat-window>li {
    word-wrap:break-word;
}

#chat-input {
    width: 350px; outline: none;
    position: absolute; top:575px; left: 10px; z-index: 20;
    color-scheme: dark; opacity: 0.3;
}

#chat-btn {
    position: absolute; top:575px; left: 370px; z-index: 20;
}

/* scrollbar 設定 */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0); 
}
::-webkit-scrollbar-thumb {
background: rgba(150, 150, 150, 0.3); 
}
::-webkit-scrollbar-thumb:hover {
background: rgba(240, 240, 240, 0.5);
}